.Detail{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__main {
    width: 80vw;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


.product__detail {
    width: 100%;
    height: 75vh;
    display: flex;
}

@media only screen and (max-width: 1024px) {
    .product__detail {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.detail_left{
    width: 40%;
    height: 100%;
}

.detail_left > div{
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detail_right{
    /* height: 400px; */
    width: 60%;
    height: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
}


@media only screen and (max-width: 1024px) {

    .detail_left{
        width: 300px;
        height: 400px
    }

    .detail_right{
        width: 100%;
        height: 40%;
    }
}

.product__content{
    flex: 2;
    justify-content: space-between;
}

.product__purchase{
    flex: 1;
    justify-content: flex-end;
}


.product--name{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2d2d2d;
    margin-bottom: 2rem;
}

.product--degree, .product--category, .product--star{
    color: #737373;
    font-weight: 500;
}

.product--star{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product--star > .rating{
    color: var(--main-color);
}

.product--star > .score{
    display: flex;
    margin-left: 0.2rem;
}

.token--title{
    color: #2d2d2d;
    font-weight: 600;
    margin-bottom: 5px;
}

.token--title > span{
    color: var(--main-color);
}

.product--tokenList{
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.product--tokenList > li{
    list-style: none;
    background-color: #f3f3f4;
    color: #737373;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.3rem 0.4rem;
    border-radius: 14px;
    margin: 2px;
}

.reviews__container {
    width: 100%;
    height: max-content;
    padding: 10px;
    margin-top: 30px;
    border: solid 2px var(--light-grey-color);
    border-radius: 10px;
}

.reviews__container > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review__close-button, .review__open-button{
    background: none;
    border: none;
    width: 1rem;
    color: var( --grey-font-color);
}

.reviews__container > div > h2{
    font-size: 1.2rem;
    color: var(--main-color);
    margin-right: 5px;
}

.reviews__container > div > span{
    font-size: 1rem;
    color: var( --grey-font-color);
    margin-right: 5px;
}

.reviews__container > ul{
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey-color);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px
}


.detail-bottom{
    margin-bottom: 20px;
}
.detail-bottom > h2{
    font-size: 1.5rem;
    color: var(--main-color);
}

.product--price{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2d2d2d;
    margin-bottom: 0.5rem;
}