.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.product__slide-container{
    width: 100vw;
    height: 40%;
    margin-bottom: 20px;
}

.product__list-container{
    width: 100vw;
    height: 60%;
}

.list-title{
    margin-bottom: 10px;
}