.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.product__slide-container{
    border: solid 2px yellow;
    width: 85vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product__list-container{
    width: 90vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}