.SignIn{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.SignIn > header{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.home__link, .home__link:visited{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 3rem;
    height: 30%;
}

.sign-in__container{
    height: 75%;
}

.sign-in__container > h1{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.sign-up__link, .sign-up__link:visited{
    color: rgb(163, 154, 154);
    font-size: 0.8rem;
    text-decoration: underline;
    text-align: center;
    padding-top: 0.3rem;
}