.swiper-container{
    width: 100%;
}
.swiper {
    width: calc(230px * 3);
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.swiper-pagination-bullet-active{
    background-color: #9F8772;
}