.productCard {
    width: 100%;
    height: 100%;
}

.productCard__wrapper {
    /* box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.productCard--img{
    height: 280px;
    width: 100%;
    /* flex: auto */
}

.productCard--img:hover{
    opacity: 80%;
}

.productCard--img > div{
    width: 100%;
    height: 100%;
    padding-top: 66.66%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
}

.productCard--img > img{
    /* 이미지 배치 */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* object-position: 50% 50%;*/
    vertical-align: top;
    object-fit: cover;

    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

.productCard__content{
    width: 100%;
    padding: 0.3rem;
    color: #737373;
}

.productCard--name{
    color: #2d2d2d;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.productCard--name:hover{
    color: var(--main-color);
}

.productCard--price{
    text-align: right;
    font-weight: 500;
    color: #2d2d2d;
}
