.product-slide{
    width: 100%;
}

.product-slide__main{
    width: 100%;
    height: 350px;
}

.product-slide__wrapper{
    flex: 0 1 800px;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.product-slide__content{
    justify-content: center;
    flex-grow: 1;
    /* flex-wrap: wrap; */
    overflow: hidden;
}
.product-slide__content > li{
    list-style: none;
    flex: 1 0 200px;
    height: 100%;
    margin: 0 10px;
}