
.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 15px;
    row-gap: 50px;
    width: 100%;
    height: 100%;
}

.product-list > li{
    list-style: none;
}

