
/* .product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 15px;
    row-gap: 50px;
    width: 100%;
    height: 100%;
} */

.product-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 30px;
    width: 100%;
    height: 100%;
}


@media only screen and (min-width: 768px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 15px;
        row-gap: 50px;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 15px;
        row-gap: 50px;
        width: 100%;
        height: 100%;
    }
}

.product-list > li{
    list-style: none;
}

